@import url('https://fonts.googleapis.com/css?family=Red+Hat+Display|Work+Sans:500,700&display=swap');

html,
body {
  font-family: spartan sans sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

@font-face {
  font-family: spartan;
  src: url(./LeagueSpartan.woff);
  font-weight: normal;
}

.dev {
  border: 1px solid red;
}
